body {
  background-color: #333;
  background: url("https://png.pngtree.com/template/20220425/ourmid/pngtree-colored-flat-travel-booking-booking-hostel-composition-with-booking-the-hostel-image_1439525.jpg");
  background-size: cover;
  color: #FF0000;
  font-family: Arial, sans-serif;
}

h1 {
  color: #008B8B;
  text-align: center;
}

form {
  background-color: #d4f4364e;
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  margin: 0 auto;
}

label {
  color:#8b003f ;
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="number"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

button[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

button[type="submit"]:hover {
  background-color: #4B0082;
}
body {
  text-align: center;
  background-color: #f5f5f5;
  color: #3333336e;
  font-family: Arial, sans-serif;
}

p {
  margin-top: 20px;
  font-size: 30px;
  color: #36f4e7;
}

input {
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

#LangTable {
  margin-bottom: 15px;
  background-color: hwb(240 12% 87%);
}

.form-card {
  background-color: #333;
  border-radius: 10px;
  margin: 130px auto;
  width: 400px;
  padding: 20px;
}

.mssg {
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: #f2f2f2d8;
  padding: 10px;
  font-size: 16px;
}
/* Reset browser styles 


body{
	text-align: center !important;
}
p{
	margin-top: 20px;
	font-size: 30px;
}
input{
	text-align: center;
}
#LangTable{
    margin-bottom: 15px;
}
.form-card{
    background-color: #fff8eb;
    border-radius: 10px;
    margin-top: 130px;
	margin-left: 500px;
}
.mssg{
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
}

